html {
  font-family: Muli, sans-serif;
  font-size: 12px; }
  @media (min-width: 1440px) {
    html {
      font-size: 16px; } }

a {
  text-decoration: none;
  color: #fff; }

.main-content__section:nth-of-type(2) {
  background-color: #f5f5f5; }

.section {
  padding: 0 calc(50% - 145px);
  position: relative; }
  .section__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

@media (min-width: 768px) {
  .section {
    padding: 0 calc(50% - 354px); }
    .section__nav {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

@media (min-width: 1440px) {
  .section {
    padding: 0 calc(50% - 573px); } }

.header__container {
  height: 342px;
  background-color: #56ccf2; }

.header__section {
  background-color: #f5f5f5;
  position: relative; }

.header__nav-input {
  margin-top: 15px; }

.header__dia {
  margin-top: 15px; }

@media (min-width: 768px) {
  .header__container {
    height: 428px;
    background: linear-gradient(115deg, #56ccf2 0 78%, #f5f5f5 78% 100%);
    padding: 0; }
  .header__nav {
    margin-top: 15px; }
  .header__dia {
    margin-top: 30px; } }

@media (min-width: 1440px) {
  .header__container {
    height: 848px;
    background: linear-gradient(115deg, #56ccf2 0 78%, #f5f5f5 78% 100%);
    padding: 0; }
  .header__nav {
    margin-top: 44px; }
  .header__dia {
    margin-top: 63px; } }

.nav__hide {
  background-image: url(../images/nav/menu.svg);
  background-size: 40px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s, background-image 0.5s;
  transition: background-color 0.5s, background-image 0.5s; }
  .nav__hide:hover {
    background-image: url(../images/nav/menu-active.svg);
    background-color: #fcc304; }

.nav__toggler {
  display: none; }
  .nav__toggler:not(:checked) ~ .nav__hide {
    background-image: url(../images/nav/menu-active.svg);
    background-color: #fcc304; }
  .nav__toggler:checked {
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }
    .nav__toggler:checked:hover {
      background-color: #fcc304; }
  .nav__toggler:not(:checked) ~ .dia,
  .nav__toggler:checked ~ .nav {
    display: none; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav__list-item {
  margin-top: 1em; }

.nav__link {
  display: block;
  padding: 2px 5px;
  border-radius: 10px;
  font-size: 18px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }
  .nav__link--focused::after {
    content: "";
    display: block;
    border-bottom: 4px solid #fcc304; }
  .nav__link:hover {
    color: #253757; }

.nav__title {
  font-size: 36px; }

@media (min-width: 768px) {
  .nav {
    max-width: 708px; }
    .nav__hide {
      display: none; }
    .nav__toggler:checked ~ .nav {
      display: block; }
    .nav__list {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .nav__list-item {
      margin: 0;
      margin-right: 7px; }
      .nav__list-item:first-of-type {
        margin: 0;
        margin-right: 3em;
        position: relative;
        right: 10px; }
      .nav__list-item:nth-of-type(6) {
        margin-right: 0; }
      .nav__list-item:last-of-type {
        margin: 0;
        margin-left: 3em;
        position: relative;
        left: 10px;
        top: 2px; }
    .nav__link {
      padding: 4px 10px;
      border-radius: 20px;
      font-weight: 400; } }

@media (min-width: 1440px) {
  .nav {
    max-width: 1146px; }
    .nav__list-item {
      margin-right: 43px; }
      .nav__list-item:first-of-type {
        margin: 0;
        margin-right: 123px; }
      .nav__list-item:nth-of-type(6) {
        margin-right: 0; }
      .nav__list-item:last-of-type {
        margin: 0;
        margin-left: 135px; }
    .nav__link {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5; }
    .nav__title {
      font-size: 32px; } }

.dia {
  max-width: 290px;
  color: #fff;
  text-align: center; }
  .dia__heading {
    font-size: 36px;
    font-weight: 900; }
  .dia__slogan {
    font-size: 18px;
    font-weight: 200;
    margin-top: 0.5em;
    line-height: 1.5; }
  .dia__link {
    color: #253757;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s; }
  .dia__button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    padding: 12px 43.2px;
    border-radius: calc((24px + 15px) / 2);
    margin-top: 1em;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s; }
    .dia__button:hover {
      background-color: #fcc304; }
      .dia__button:hover .dia__link {
        color: #fff; }

@media (min-width: 768px) {
  .dia {
    max-width: 60%;
    margin-left: 66px;
    text-align: start;
    -ms-flex-item-align: start;
        align-self: flex-start; }
    .dia__slogan {
      margin-top: 0.3em; }
    .dia__button {
      margin-top: 0.6em; } }

@media (min-width: 1440px) {
  .dia {
    max-width: 754px;
    margin-left: 98px; }
    .dia__heading {
      font-size: 64px;
      line-height: 1.5; }
    .dia__slogan {
      font-size: 24px;
      margin-top: 22px; }
    .dia__button {
      width: 226px;
      height: 56px;
      border-radius: 28px;
      margin-top: 42px;
      font-size: 16px;
      line-height: 1.5; } }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: calc(50% - 36px);
  top: -12px; }
  .slider__button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px 12px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff40), to(#fff0)), #fcc304;
    background: linear-gradient(180deg, #ffffff40 0%, #fff0 100%), #fcc304;
    -webkit-transition: linear-gradient 0.5s;
    transition: linear-gradient 0.5s; }
    .slider__button:hover {
      background: -webkit-gradient(linear, left top, left bottom, from(#fff6), to(#fff0)), #fcc304;
      background: linear-gradient(180deg, #fff6 0%, #fff0 100%), #fcc304; }
    .slider__button--prev {
      border-radius: 12px 0 0 12px; }
    .slider__button--next {
      border-radius: 0 12px 12px 0; }
  .slider__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 12px;
    width: 12px; }

@media (min-width: 768px) {
  .slider {
    left: calc(50% - 366px);
    top: -24px;
    z-index: 2; }
    .slider__button {
      padding: 12px 24px; }
      .slider__button--prev {
        border-radius: 24px 0 0 24px; }
      .slider__button--next {
        border-radius: 0 24px 24px 0; }
    .slider__icon {
      height: 24px;
      width: 24px; } }

@media (min-width: 1440px) {
  .slider {
    justify-items: center;
    position: absolute;
    width: 162px;
    left: calc(50% - 573px - 81px);
    top: -32px; }
    .slider__button {
      width: 81px;
      height: 64px; }
      .slider__button--prev {
        border-radius: 32px 0 0 32px; }
      .slider__button--next {
        border-radius: 0 32px 32px 0; }
    .slider__icon {
      margin: 0 auto;
      display: block;
      height: 30px;
      width: 15px; } }

.intro {
  padding: 12%;
  height: 174px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../images/slider/slide-img-1.jpg);
  background-color: #f5f5f5;
  background-size: cover;
  z-index: 1; }
  .intro__heading {
    width: 40%;
    font-size: 18px;
    color: #56ccf2;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .intro__text {
    width: 60%;
    margin-top: 1em;
    font-size: 12px;
    font-weight: 800;
    line-height: 1.5;
    color: #fff; }

@media (min-width: 768px) {
  .intro {
    padding: 0;
    position: absolute;
    left: calc(50% - 291px);
    top: -142px;
    height: 284px;
    width: 526px; }
    .intro__heading {
      font-size: 16px;
      position: absolute;
      bottom: 70%;
      left: 98px; }
    .intro__text {
      font-size: 24px;
      position: absolute;
      bottom: 30%;
      left: 98px;
      width: 220px; } }

@media (min-width: 1440px) {
  .intro {
    position: absolute;
    left: calc(50% - 573px);
    top: -320px;
    height: 640px;
    width: 1146px; }
    .intro__heading {
      font-size: 12.6px;
      position: absolute;
      bottom: 144px;
      left: 98px; }
    .intro__text {
      font-size: 19.6px;
      line-height: 1.4;
      position: absolute;
      bottom: 85px;
      left: 98px;
      width: 264px; } }

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2; }
  .media__link {
    padding: 3px 5px;
    border-radius: 4px;
    color: #253757;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s; }
    .media__link:hover {
      background-color: #fcc304;
      color: #fff; }

@media (min-width: 768px) {
  .media {
    position: absolute;
    top: calc(50% - 0.75em);
    right: calc(50% - 430px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
    .media__link {
      padding: 3px 5px;
      border-radius: 4px; }
      .media__link:nth-of-type(2) {
        margin: 0 3px; } }

@media (min-width: 1024px) {
  .media {
    right: calc(50% - 466px); } }

@media (min-width: 1440px) {
  .media {
    position: relative;
    left: 646px; }
    .media__link {
      font-size: 12.6px;
      line-height: 1.5; }
      .media__link:nth-of-type(2) {
        margin: 0 75px; } }

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .welcome__heading {
    margin-top: 4em;
    margin-bottom: 1em; }
  .welcome__text {
    margin-bottom: 3em;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5; }

@media (min-width: 768px) {
  .welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
    width: 65%;
    margin: 0 auto; }
    .welcome__heading {
      margin-top: calc(8em + 142px);
      z-index: 2; }
    .welcome__text {
      margin-bottom: 5em;
      font-weight: 600; } }

@media (min-width: 1440px) {
  .welcome {
    height: 832px; }
    .welcome__heading {
      margin-top: 485px; }
    .welcome__text {
      margin: 19px 0 0;
      font-size: 24px; } }

.heading {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 800;
  color: #56ccf2;
  position: relative;
  line-height: 14px;
  left: 7px; }
  .heading::before {
    content: "";
    display: block;
    background-image: url(../images/features/heading-vector.svg);
    background-size: cover;
    height: 14px;
    width: 14px;
    position: absolute;
    left: -21px;
    bottom: calc(50% - $vectorSize / 2); }

@media (min-width: 768px) {
  .heading {
    line-height: 16px;
    left: 24px; }
    .heading::before {
      height: 16px;
      width: 16px;
      left: -24px;
      bottom: calc(50% - $vectorSize / 2); } }

.we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .we-do__heading {
    text-align: center;
    position: relative;
    top: calc(-18px);
    margin-bottom: 1em; }
  .we-do__card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .we-do__do-card {
    margin-bottom: 6em; }

@media (min-width: 768px) {
  .we-do__card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 6em; }
  .we-do__do-card {
    margin: 0; } }

@media (min-width: 1440px) {
  .we-do {
    padding-top: 124px;
    height: 580px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .we-do__heading {
      width: 100%;
      top: calc(-18px - 124px);
      margin: 0; }
    .we-do__card-container {
      margin: 0; }
    .we-do__do-card {
      margin-right: 128px; }
      .we-do__do-card:last-of-type {
        margin: 0; } }

.heading-2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 900;
  color: #253757; }
  @media (min-width: 1440px) {
    .heading-2 {
      font-size: 48px; } }

.do-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 64%; }
  .do-card__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover; }
  .do-card__heading {
    margin-top: 30px;
    font-weight: 900;
    color: #253757;
    line-height: 1.5; }
  .do-card__text {
    margin-top: 15px;
    color: #334563;
    line-height: 1.5; }

@media (min-width: 768px) {
  .do-card {
    width: 25%; } }

@media (min-width: 1440px) {
  .do-card {
    width: 264px; }
    .do-card__img {
      width: 160px;
      height: 160px; }
    .do-card__heading {
      margin-top: 64px; }
    .do-card__text {
      margin-top: 32px;
      font-size: 19.6px; } }

.process {
  padding: 6em 0;
  position: relative; }
  .process__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .process__description {
    text-align: center; }
  .process__description-heading {
    margin-top: 0.5em; }
  .process__text {
    line-height: 1.5;
    margin-top: 4em; }
  .process__card-container {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 240px;
    grid-gap: 64px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

@media (min-width: 768px) {
  .process {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .process__container {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .process__description {
      width: 280px;
      text-align: start; }
    .process__card-container {
      grid-template-columns: repeat(2, 298px);
      grid-template-rows: repeat(2, 368px);
      grid-gap: 16px 0; }
    .process__pro-card:first-of-type, .process__pro-card:nth-of-type(3) {
      -ms-flex-item-align: end;
          align-self: end; } }

@media (min-width: 1440px) {
  .process {
    padding: 0;
    padding-top: 160px;
    height: 656px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .process__description {
      width: 362px; }
    .process__description-heading {
      margin-top: 19px; }
    .process__text {
      margin-top: 64px; }
    .process__card-container {
      margin-top: 64px;
      position: absolute;
      top: 160px;
      right: 0;
      z-index: 1; } }

.heading-3 {
  font-size: 24px;
  font-weight: 900;
  color: #253757;
  line-height: 1.4; }
  @media (min-width: 1440px) {
    .heading-3 {
      font-size: 32px; } }

.pro-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  height: 256px;
  background: #fff;
  -webkit-box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.06);
          box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.06);
  text-align: center; }
  .pro-card__background {
    margin-top: 48px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: rgba(86, 204, 242, 0.1);
    position: relative; }
    .pro-card__background--color2 {
      background-color: rgba(252, 194, 2, 0.1); }
    .pro-card__background--color3 {
      background-color: rgba(3, 213, 66, 0.1); }
    .pro-card__background--color4 {
      background-color: rgba(242, 86, 86, 0.1); }
  .pro-card__heading {
    width: 48px;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
    color: #56ccf2;
    position: absolute;
    top: 24px; }
    .pro-card__heading--color2 {
      color: #fcc304; }
    .pro-card__heading--color3 {
      color: #03d542; }
    .pro-card__heading--color4 {
      color: #f25656; }
  .pro-card__text {
    margin-top: 32px;
    width: 176px;
    color: #253757;
    line-height: 1.5; }

@media (min-width: 1440px) {
  .pro-card__heading {
    font-size: 40px; }
  .pro-card__text {
    font-size: 12.6px; } }

/*# sourceMappingURL=main.css.map */
